{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Radio Messages</h1>
<div class="container">
	<div class="row">
		<div class="col">
<button onclick="(async () => {   
	await navigator.mediaDevices.getUserMedia({audio: true, video: false});   
	let devices = await navigator.mediaDevices.enumerateDevices();   
	console.log(devices); 
	var selectMenu = document.getElementById('outputDevice')
	selectMenu.innerHTML = '';
	for (var i = 0; i < devices.length; i++) {
		if (devices[i].kind == 'audiooutput') {
			var option = document.createElement('option')
			option.text = devices[i].label;
			option.value = devices[i].deviceId;
			selectMenu.add(option);
		}
	}
  })();" class="btn btn-primary">Get device media access</button>
  </div></div>
  <div class="row mt-3 mb-3"><div class="col">
<select id="outputDevice" onchange="setAllAudioOutput()" class="form-select">
  <option value="default">Give Device Media Access First</option>
  </select>
  </div>	</div>
</div>
  
{% include "radioMessages.html" %}
</div>

<script>
	function setAllAudioOutput () {
		var selectMenu = document.getElementById('outputDevice')
		var deviceId = selectMenu.options[selectMenu.selectedIndex].value;
		console.log(deviceId);
		var audios = document.getElementsByTagName('audio');
		for (var i = 0; i < audios.length; i++) {
			audios[i].setSinkId(deviceId);
		}
	}
</script>
{% endblock %}